
{% extends "base.html" %}

{% block title %}
<title>Add Blog Post</title>
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<h1>Add Blog</h1>
<br><br>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {{ form.as_p }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <script>
    var author_id = "{{ user.id }}";
    document.getElementById("author_id").value = author_id
  </script>
</form>
{% else %}
<strong> Not Authorized </strong>
{% endif %}
{% endblock %}