
{% extends "base.html" %}

{% block title %}
<title>{{object.title}}</title>
{% endblock title %}

{% block content %}

<h1> {{ object.title }} </h1>
<h6><span class="badge bg-secondary">{{ object.category }}</span></h6>
<small>created_at: {{ object.created_at }}</small>
<br>
<small>By: {{ object.author.first_name }} {{ object.author.last_name }}</small> <br>
<hr>
{{ object.body | safe}}

<br><br>
{% if user.is_authenticated %}
<a href="{% url 'blog-edit' object.pk %}"  class="btn btn-primary">Edit</a>
{% endif %}
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock content %}