{% extends "base.html" %} 
{% block content %} 
{% if category_post %}
    {% block title %}
    <title>{{ cats }} </title> {% endblock title %} 
    <h2>{{ cats }}</h2>
    {% for blog in category_post %}
    <li>
    <a href="{% url 'blog-detail' blog.pk %}"> {{ blog.title }}</a> - {{blog.author.first_name }} {{ blog.author.last_name }}
    {% if user.is_authenticated %}
    -
    <small><a href="{% url "blog-edit" blog.pk %}">Edit</a></small> -
    <small><a href="{% url "blog-delete" blog.pk %}">Delete</a></small>
    {% endif %}
    <br />
    {{ blog.body|slice:":200" | safe}}
    </li>
    {% endfor %}
    </ul> 
{% else %}
    <strong>no search result for:</strong> {{ cats }}
{% endif %}

{% endblock %}
