{% extends "base.html" %} {% block title %}
<title>Blog</title>
{% endblock title %} {% block content %}


<!-- {% comment %} <ul>
  {% for blog in object_list %}
  <li>
    <a href="{% url 'blog-detail' blog.pk %}"> {{ blog.title }}</a> - {{blog.author.first_name }} {{ blog.author.last_name }}
    {% if user.is_authenticated %}
    -
    <small><a href="{% url "blog-edit" blog.pk %}">Edit</a></small> -
    <small><a href="{% url "blog-delete" blog.pk %}">Delete</a></small>
    {% endif %}
    <br />
    {{ blog.body|slice:":200" | safe}}
  </li>
  {% endfor %}
</ul> {% endcomment %}
{% comment %} {% for blog in object_list %}
<div class="row">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ blog.title }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{blog.author.first_name }} {{ blog.author.last_name }}</h6>
    <p class="card-text">{{ blog.body|slice:":200" | safe}}</p>
    {% if user.is_authenticated %}
    <a href="{% url "blog-edit" blog.pk %}" class="card-link">Edit</a>
    <a href="{% url "blog-delete" blog.pk %}" class="card-link">Delete</a>
    {% endif %}
  </div>
</div>
</div>
{% endfor %} {% endcomment %} -->


<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="height: 600px;">
    <div class="carousel-item active">
      <img src="https://good-nature-blog-uploads.s3.amazonaws.com/uploads/2022/01/good-nature-homepage-hero_2-1280x640.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2023/06/nature-1686808887.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://good-nature-blog-uploads.s3.amazonaws.com/uploads/2022/01/good-nature-homepage-hero_2-1280x640.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>
<h1>Blogs</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for blog in object_list %}
  <div class="col">
    <div class="card mb-3 shadow-lg p-3 bg-body rounded" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          {% if blog.header_img %}
          <img src="{{ blog.header_img.url}}" class="img-fluid rounded-start" alt="..." 
          style="
          object-fit: fill;
          height: 160px;
          width: 169px;"
          >
          <!-- height: -webkit-fill-available; -->
          {% else %}
          <img src="https://hips.hearstapps.com/hmg-prod/images/nature-quotes-landscape-1648265299.jpg?crop=0.676xw:1.00xh;0.148xw,0&resize=640:*" class="img-fluid rounded-start" alt="..." style="
          object-fit: fill;
          height: 160px;
          width: 169px;"
      ">
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-title"><a class="text-decoration-none" href="{% url 'blog-detail' blog.pk %}"> {{ blog.title }}</a> - 
              <a class="text-decoration-none" href="{% url 'get-category' blog.category|slugify %}"> {{ blog.category }}</a></h6>
            {% comment %} <p class="card-text">{{ blog.body |slice:":100" | safe}}</p> {% endcomment %}
            <p class="card-text">{{ blog.snippets }}</p>
            <p class="card-text"><small class="text-body-secondary">created at {{ blog.created_at }}</small></p>
            {% if user.is_authenticated %}
            {% if user.id == blog.author.id %}
            <a href="{% url "blog-edit" blog.pk %}" class="card-link">Edit</a>
            <a href="{% url "blog-delete" blog.pk %}" class="card-link">Delete</a>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}


